<center>
<h3>
幼兒智力發展評估
</h3>
<h3>
Intelligence Development Accessment for Children
</h3>
<h4>
聲音記憶與操作測驗，空間記憶與操作測驗，概念認知測驗，情緒認知測驗
</h4>

<p></p>




<div id="welcome" style="border: 3px double #000000; padding:3px; width:500px;">
	<h3 id="welcome_text_1"></h3>
</div>




<h3 id="test_group_1r">
1A. 聲音記憶測驗: 
</h3>

<div style="border: 3px double #000000;padding:3px;width:500px;" id="test_description_1r">
<p>
<span style="font-size:20px; font-weight:bold; text-align:left;">測驗説明：</span>
	<ol style="text-align:left;">
		<li>請按試聼鍵，調整音量至合適。</li>
		<img id="test_audio" src="/icon_test.jpg" style="width: 100px; height: 100px;">
		<li>請按以下錄音鍵，確定你的聲音可以錄進。</li>
		<img id="record" src="/icon_microphone.png" style="width: 100px; height: 100px;" onclick="startRecording(this);">
		<li>請按以下停止鍵，停止錄音。</li>
		<img id="stop" src="/icon_stop.jpg" style="width: 100px; height: 100px;" onclick="stopRecording(this);">
		<li>請按以下存檔鍵，將錄音存檔。</li>
		<a id="save" href="#"><img src="/icon_save.jpg" style="width: 100px; height: 100px;"></a>
		<li>請按開始鍵，題目即開始播出一些數字。</li>
		<img id="group_1r_instruction" src="/flash_start.gif" style="width: 100px; height: 100px;">
		<li>題目播完後，等待綠蘋果亮起，然後按錄音鍵，按著聽到的順序，回答你剛剛聽見的數字。</li>
		<img src="/icon_green.jpg" style="width: 100px; height: 100px;">
		<li>回答結束後，請再按錄音鍵即結束。</li>
		<li>之後請再按存儲鍵，將剛剛的錄音存檔。</li>
		<li>按繼續鍵， 測驗就會進入下一題。現在按此鍵，將首先出現此類別測驗的練習題。</li>
		<img src="/flash_next.gif" style="width: 100px; height: 100px;">
	</ol>
</p>
</div>

<h3 id="test_group_1a">
1A. 聲音記憶測驗: 
</h3>

<div style="border: 3px double #000000;padding:3px;width:500px;" id="test_description_1a">
<p>
<span style="font-size:20px; font-weight:bold; text-align:left;">測驗説明：</span>
	<ol style="text-align:left;">
		<li>按以下播放鍵，每個題目將播出一些數字，請邊聼邊記得。</li>
		<img src="/icon_start.png" style="width: 100px; height: 100px;">
		<li>題目播完後，等待[綠蘋果]亮起，用自備錄音筆或錄音機，按著聽到的順序回答，錄下你剛剛聽見的數字。</li>
		<img id="group_1a_green" src="/icon_green.jpg" style="width: 90px; height: 90px;">
		<li>聼説明請按以下[說明鍵]。</li>
		<img id="group_1a_instruction" src="/icon_instruction.jpg" style="width: 90px; height: 90px;">
		<li>正式作答前 ，可以按以下[練習鍵]， 測驗就會進入練習題。繼續按此鍵，將會繼續出現練習題。</li>
		<img class="play_exer" id="group_1a_exer" src="/flash_exer.gif" style="width: 90px; height: 90px;">
		<li>如果是練習題，題目結束後，可以按以下[答案鍵]聼答案。</li>
		<img src="/icon_answer.jpg" style="width: 100px; height: 100px;">
		<li>按以下的[往下鍵]可以直接開始作答。</li>
		<img class="play_test" id="group_1a_start" src="/flash_next.gif" style="width: 100px; height: 100px;">
	</ol>
</p>
</div>

<h3 id="test_group_1b">
1B. 重復播放聲音記憶測驗: 
</h3>

<div style="border: 3px double #000000;padding:3px;width:500px;" id="test_description_1b">
<p>
<span style="font-size:20px; font-weight:bold; text-align:left;">測驗説明：</span>
	<ol style="text-align:left;">
		<li>按以下播放鍵，每個題目將播出一些數字，請邊聼邊記得。</li>
		<img src="/icon_start.png" style="width: 100px; height: 100px;">
		<li>題目第一次播完後，[黃燈]亮起，之前的數字會再次播出。</li>
		<img src="/icon_yellow.png" style="width: 100px; height: 100px;">
		<li>當數字再次播完後，[綠蘋果]亮起，用自備錄音筆或錄音機，按著聽到的順序回答，錄下你剛剛聽見的數字。</li>
		<img src="/icon_green.jpg" style="width: 100px; height: 100px;">
		<li>聼説明請按以下[說明鍵]。</li>
		<img id="group_1b_instruction" src="/icon_instruction.jpg" style="width: 90px; height: 90px;">
		<li>正式作答前 ，可以按以下[練習鍵]， 測驗就會進入練習題。繼續按此鍵，將會繼續出現練習題。</li>
		<img class="play_exer" id="group_1b_exer" src="/flash_exer.gif" style="width: 100px; height: 100px;">
		<li>如果是練習題，題目結束後，可以按以下[答案鍵]聼答案。</li>
		<img src="/icon_answer.jpg" style="width: 100px; height: 100px;">
		<li>按以下的[往下鍵]可以直接開始作答。</li>
		<img class="play_test" id="group_1b_start" src="/flash_next.gif" style="width: 100px; height: 100px;">
	</ol>
</p>
</div>

<h3 id="test_group_1c">
1C. 影音干預聲音記憶測驗: 
</h3>

<div style="border: 3px double #000000;padding:3px;width:500px;" id="test_description_1c">
<p>
<span style="font-size:20px; font-weight:bold; text-align:left;">測驗説明：</span>
	<ol style="text-align:left;">
		<li>按以下播放鍵，每個題目將播出一些數字，請邊聼邊記得。播完後會出現一段影音。</li>
		<img src="/icon_start.png" style="width: 100px; height: 100px;">
		<li>當影音播完後，[綠蘋果]亮起，用自備錄音筆或錄音機，按著聽到的順序回答，錄下你剛剛聽見的數字。</li>
		<img src="/icon_green.jpg" style="width: 100px; height: 100px;">
		<li>聼説明請按以下[說明鍵]。</li>
		<img id="group_1c_instruction" src="/icon_instruction.jpg" style="width: 90px; height: 90px;">
		<li>正式作答前 ，可以按以下[練習鍵]， 測驗就會進入練習題。繼續按此鍵，將會繼續出現練習題。</li>
		<img class="play_exer" id="group_1c_exer" src="/flash_exer.gif" style="width: 100px; height: 100px;">
		<li>如果是練習題，題目結束後，可以按以下[答案鍵]聼答案。</li>
		<img src="/icon_answer.jpg" style="width: 100px; height: 100px;">
		<li>按以下的[往下鍵]可以直接開始作答。</li>
		<img class="play_test" id="group_1c_start" src="/flash_next.gif" style="width: 100px; height: 100px;">
	</ol>
	</ol>
</p>
</div>

<div id="audio_recording">
	<div id="audio">
		<div id="viz">
			<h4>聲音波形</h4>
			<canvas id="analyser" width="800" height="500"></canvas>
			<h4>錄音波形</h4>
			<canvas id="wavedisplay" width="800" height="500"></canvas>
		</div>
	</div>
</div>

<h3 id="test_group_2a">
2A. 聲音記憶與操作測驗: 兩兩交換
</h3>

<div style="border: 3px double #000000;padding:3px;width:500px;" id="test_description_2a">
<p>
<span style="font-size:20px; font-weight:bold; text-align:left;">測驗説明：</span>
	<ol style="text-align:left;">
		<li>按以下播放鍵，每個題目將播出一些數字，請邊聼邊記得。</li>
		<img src="/icon_start.png" style="width: 100px; height: 100px;">
		<li>題目播完後，[綠蘋果]亮起，用自備錄音筆或錄音機，按著聽到的順序回答，錄下你剛剛聽見的數字。</li>
		<img id="group_2a_green" src="/icon_green.jpg" style="width: 90px; height: 90px;">
		<li style="color:#ff0000;">將聽見的數字，每兩個交換次序，然後回答。例如：聽見的數字是8,4,1,7。你要回答：4,8,7,1。</li>
		<li>聼説明請按以下[說明鍵]。</li>
		<img id="group_2a_instruction" src="/icon_instruction.jpg" style="width: 90px; height: 90px;">
		<li>正式作答前 ，可以按以下[練習鍵]， 測驗就會進入練習題。繼續按此鍵，將會繼續出現練習題。</li>
		<img class="play_exer" id="group_2a_exer" src="/flash_exer.gif" style="width: 90px; height: 90px;">
		<li>如果是練習題，題目結束後，可以按以下[答案鍵]聼答案。</li>
		<img src="/icon_answer.jpg" style="width: 100px; height: 100px;">
		<li>按以下的[往下鍵]可以直接開始作答。</li>
		<img class="play_test" id="group_2a_start" src="/flash_next.gif" style="width: 100px; height: 100px;">
	</ol>
</p>
</div>

<h3 id="test_group_2b">
2B. 聲音記憶與操作測驗: 前半后半對換
</h3>

<div style="border: 3px double #000000;padding:3px;width:500px;" id="test_description_2b">
<p>
<span style="font-size:20px; font-weight:bold; text-align:left;">測驗説明：</span>
	<ol style="text-align:left;">
		<li>按以下播放鍵，每個題目將播出一些數字，請邊聼邊記得。</li>
		<img src="/icon_start.png" style="width: 100px; height: 100px;">
		<li>題目第一次播完後，[黃燈]亮起，之前的數字會再次播出。</li>
		<img src="/icon_yellow.png" style="width: 100px; height: 100px;">
		<li>當數字再次播完後，[綠蘋果]亮起，用自備錄音筆或錄音機，按著聽到的順序和以下的要求錄下你的回答。</li>
		<img id="group_2b_green" src="/icon_green.jpg" style="width: 90px; height: 90px;">
		<li style="color:#ff0000;">將聽見的數字，分成前後各半的兩部反，然後先回答后半部，在再回答前半部。例如：聽見的數字是8,4,1,7,5,9。你要回答：7,5,9,8,4,1。</li>
		<li>聼説明請按以下[說明鍵]。</li>
		<img id="group_2b_instruction" src="/icon_instruction.jpg" style="width: 90px; height: 90px;">
		<li>正式作答前 ，可以按以下[練習鍵]， 測驗就會進入練習題。繼續按此鍵，將會繼續出現練習題。</li>
		<img class="play_exer" id="group_2b_exer" src="/flash_exer.gif" style="width: 90px; height: 90px;">
		<li>如果是練習題，題目結束後，可以按以下[答案鍵]聼答案。</li>
		<img src="/icon_answer.jpg" style="width: 100px; height: 100px;">
		<li>按以下的[往下鍵]可以直接開始作答。</li>
		<img class="play_test" id="group_2b_start" src="/flash_next.gif" style="width: 100px; height: 100px;">
	</ol>
</p>
</div>

<h3 id="test_group_2c">
2C. 聲音記憶與操作測驗: 兩兩相加
</h3>

<div style="border: 3px double #000000;padding:3px;width:500px;" id="test_description_2c">
<p>
<span style="font-size:20px; font-weight:bold; text-align:left;">測驗説明：</span>
	<ol style="text-align:left;">
		<li>按以下播放鍵，每個題目將播出一些數字，請邊聼邊記得。播完後會出現一段影音。</li>
		<img src="/icon_start.png" style="width: 100px; height: 100px;">
		<li>影音播完後，[綠蘋果]亮起，用自備錄音筆或錄音機，按著聽到的順序和以下的要求錄下你的回答。</li>
		<img id="group_2c_green" src="/icon_green.jpg" style="width: 90px; height: 90px;">
		<li style="color:#ff0000;">將聽見的數字，按著次序 ，每兩個相加，再按著次序讀出。例如：聽見的數字是8,4,1,7,5,9。你要回答：12,8,14。</li>
		<li>聼説明請按以下[說明鍵]。</li>
		<img id="group_2c_instruction" src="/icon_instruction.jpg" style="width: 90px; height: 90px;">
		<li>正式作答前 ，可按以下[練習鍵]， 測驗就會進入練習題。繼續按此鍵，將會繼續出現練習題。</li>
		<img class="play_exer" id="group_2c_exer" src="/flash_exer.gif" style="width: 90px; height: 90px;">
		<li>如果是練習題，題目結束後，可以按以下[答案鍵]聼答案。</li>
		<img src="/icon_answer.jpg" style="width: 100px; height: 100px;">
		<li>按以下的[往下鍵]可以直接開始作答。</li>
		<img class="play_test" id="group_2c_start" src="/flash_next.gif" style="width: 100px; height: 100px;">
	</ol>
</p>
</div>

<h3 id="test_group_3a">
3A. 空間記憶測驗: 
</h3>

<div style="border: 3px double #000000;padding:3px;width:500px;" id="test_description_3a">
	<p>
	<span style="font-size:20px; font-weight:bold; text-align:left;">測驗説明：</span>
		<ol style="text-align:left;">
			<li>每個題目有一個方框，裏面有若干個小球在不同的位置。</li>
			<li>在一定時間内，題目即會消失，並出現包含題目的若干圖形。</li>
			<li>請選擇和原來題目圖形一樣的圖形。</li>
			<li>聼説明請按以下[說明鍵]。</li>
			<img id="group_3a_instruction" src="/icon_instruction.jpg" style="width: 90px; height: 90px;">
			<li>正式作答前 ，可以按以下[練習鍵]， 測驗就會進入練習題。繼續按此鍵，將會繼續出現練習題。</li>
			<img class="play_exer" id="group_3a_exer" src="/flash_exer.gif" style="width: 90px; height: 90px;">
			<li>按以下的[往下鍵]可以直接開始作答。</li>
			<img class="play_test" id="group_3a_start" src="/flash_next.gif" style="width: 100px; height: 100px;">
		</ol>
	</p>
</div>

<h3 id="test_group_3b">
3B. 空間記憶測驗: 重復一次
</h3>

<div style="border: 3px double #000000;padding:3px;width:500px;" id="test_description_3b">
	<p>
	<span style="font-size:20px; font-weight:bold; text-align:left;">測驗説明：</span>
		<ol style="text-align:left;">
			<li>每個題目有一個方框，裏面有若干個小球在不同的位置。</li>
			<li>在一定時間内，題目即會消失，在短暫時間後，原來的題目會再次出現。</li>
			<li>當題目再次消失，會出現包含原來題目的若干圖形。</li>
			<li>請選擇和原來題目圖形一樣的圖形。</li>
			<li>聼説明請按以下[說明鍵]。</li>
			<img id="group_3b_instruction" src="/icon_instruction.jpg" style="width: 90px; height: 90px;">
			<li>正式作答前 ，可以按以下[練習鍵]， 測驗就會進入練習題。繼續按此鍵，將會繼續出現練習題。</li>
			<img class="play_exer" id="group_3b_exer" src="/flash_exer.gif" style="width: 90px; height: 90px;">
			<li>按以下的[往下鍵]可以直接開始作答。</li>
			<img class="play_test" id="group_3b_start" src="/flash_next.gif" style="width: 100px; height: 100px;">
		</ol>
	</p>
</div>

<h3 id="test_group_3c">
3C. 空間記憶測驗: 影音干擾
</h3>

<div style="border: 3px double #000000;padding:3px;width:500px;" id="test_description_3c">
	<p>
	<span style="font-size:20px; font-weight:bold; text-align:left;">測驗説明：</span>
		<ol style="text-align:left;">
			<li>每個題目有一個方框，裏面有若干個小球在不同的位置。</li>
			<li>在一定時間内，題目即會消失，並出現一段影音。</li>
			<li>當影音結束后，會出現包含原來題目的若干圖形。</li>
			<li>請選擇和原來題目圖形一樣的圖形。</li>
			<li>聼説明請按以下[說明鍵]。</li>
			<img id="group_3c_instruction" src="/icon_instruction.jpg" style="width: 90px; height: 90px;">
			<li>正式作答前 ，可以按以下[練習鍵]， 測驗就會進入練習題。繼續按此鍵，將會繼續出現練習題。</li>
			<img class="play_exer" id="group_3c_exer" src="/flash_exer.gif" style="width: 90px; height: 90px;">
			<li>按以下的[往下鍵]可以直接開始作答。</li>
			<img class="play_test" id="group_3c_start" src="/flash_next.gif" style="width: 100px; height: 100px;">
		</ol>
	</p>
</div>

<h3 id="test_group_4a">
4A. 空間記憶與操作測驗: 左右翻轉
</h3>

<div style="border: 3px double #000000;padding:3px;width:500px;" id="test_description_4a">
	<p>
	<span style="font-size:20px; font-weight:bold; text-align:left;">測驗説明：</span>
		<ol style="text-align:left;">
			<li>每個題目有一個方框，裏面有若干個小球在不同的位置。</li>
			<li>在一定時間内，題目即會消失，並出現包含題目的若干圖形。</li>
			<li>請按著以下要求選擇正確圖形。</li>
			<li style="color:#ff0000;">選擇與原來圖形左右翻轉的。</li>
			<li>聼説明請按以下[說明鍵]。</li>
			<img id="group_4a_instruction" src="/icon_instruction.jpg" style="width: 90px; height: 90px;">
			<li>正式作答前 ，可以按以下[練習鍵]， 測驗就會進入練習題。繼續按此鍵，將會繼續出現練習題。</li>
			<img class="play_exer" id="group_4a_exer" src="/flash_exer.gif" style="width: 90px; height: 90px;">
			<li>按以下的[往下鍵]可以直接開始作答。</li>
			<img class="play_test" id="group_4a_start" src="/flash_next.gif" style="width: 100px; height: 100px;">
		</ol>
	</p>
</div>

<h3 id="test_group_4b">
4B. 空間記憶與操作測驗: 重復顯現與左右翻轉
</h3>

<div style="border: 3px double #000000;padding:3px;width:500px;" id="test_description_4b">
	<p>
	<span style="font-size:20px; font-weight:bold; text-align:left;">測驗説明：</span>
		<ol style="text-align:left;">
			<li>每個題目有一個方框，裏面有若干個小球在不同的位置。</li>
			<li>在一定時間内，題目即會消失。</li>
			<li>在一定時間内，題目即會再次顯現。</li>
			<li>在一定時間内，題目即會再消失。</li>
			<li>在一定時間内，會出現包含題目的若干圖形。</li>
			<li>請按著以下要求選擇正確圖形。</li>
			<li style="color:#ff0000;">選擇與原來圖形左右翻轉的。</li>
			<li>聼説明請按以下[說明鍵]。</li>
			<img id="group_4b_instruction" src="/icon_instruction.jpg" style="width: 90px; height: 90px;">
			<li>正式作答前 ，可以按以下[練習鍵]， 測驗就會進入練習題。繼續按此鍵，將會繼續出現練習題。</li>
			<img class="play_exer" id="group_4b_exer" src="/flash_exer.gif" style="width: 90px; height: 90px;">
			<li>按以下的[往下鍵]可以直接開始作答。</li>
			<img class="play_test" id="group_4b_start" src="/flash_next.gif" style="width: 100px; height: 100px;">
		</ol>
	</p>
</div>

<h3 id="test_group_4c">
4C. 空間記憶與操作測驗: 影音干擾與上下翻轉
</h3>

<div style="border: 3px double #000000;padding:3px;width:500px;" id="test_description_4c">
	<p>
	<span style="font-size:20px; font-weight:bold; text-align:left;">測驗説明：</span>
		<ol style="text-align:left;">
			<li>每個題目有一個方框，裏面有若干個小球在不同的位置。</li>
			<li>在一定時間内，題目即會消失。</li>
			<li>在一定時間内，影音會顯現。</li>
			<li>在一定時間内，影音會結束。</li>
			<li>之後會出現包含題目的若干圖形。</li>
			<li>請按著以下要求選擇正確圖形。</li>
			<li style="color:#ff0000;">選擇與原來圖形上下翻轉的。</li>
			<li>聼説明請按以下[說明鍵]。</li>
			<img id="group_4c_instruction" src="/icon_instruction.jpg" style="width: 90px; height: 90px;">
			<li>正式作答前 ，可以按以下[練習鍵]， 測驗就會進入練習題。繼續按此鍵，將會繼續出現練習題。</li>
			<img class="play_exer" id="group_4c_exer" src="/flash_exer.gif" style="width: 90px; height: 90px;">
			<li>按以下的[往下鍵]可以直接開始作答。</li>
			<img class="play_test" id="group_4c_start" src="/flash_next.gif" style="width: 100px; height: 100px;">
		</ol>
	</p>
</div>

<h3 id="test_group_4d">
4D. 空間記憶與操作測驗: 影音干擾與左右翻轉。
</h3>

<div style="border: 3px double #000000;padding:3px;width:500px;" id="test_description_4d">
	<p>
	<span style="font-size:20px; font-weight:bold; text-align:left;">測驗説明：</span>
		<ol style="text-align:left;">
			<li>每個題目有一個方框，裏面有若干個小球在不同的位置。</li>
			<li>在一定時間内，題目即會消失。</li>
			<li>在一定時間内，影音會顯現。</li>
			<li>在一定時間内，影音會結束。</li>
			<li>之後會出現包含題目的若干圖形。</li>
			<li>請按著以下要求選擇正確圖形。</li>
			<li style="color:#ff0000;">選擇與原來圖形左右翻轉的。</li>
			<li>聼説明請按以下[說明鍵]。</li>
			<img id="group_4d_instruction" src="/icon_instruction.jpg" style="width: 90px; height: 90px;">
			<li>正式作答前 ，可以按以下[練習鍵]， 測驗就會進入練習題。繼續按此鍵，將會繼續出現練習題。</li>
			<img class="play_exer" id="group_4d_exer" src="/flash_exer.gif" style="width: 90px; height: 90px;">
			<li>按以下的[往下鍵]可以直接開始作答。</li>
			<img class="play_test" id="group_4d_start" src="/flash_next.gif" style="width: 100px; height: 100px;">
		</ol>
	</p>
</div>



<div id="user_data"><% if user_signed_in? %>user_id_<%= current_user.id %><% end %></div>
<div id="user_status">
<% if user_signed_in? %>
<% if current_user.tester_answers.count > 0 %>
<%= current_user.tester_answers.first.score.to_s %>
<% else %>0
<% end %><% end %>
</div>
<div id="user_level"><% if user_signed_in? %><%= current_user.level %><% end %></div>
<div id="user_answer"><% if user_signed_in? %>
<% if current_user.tester_answers.count > 0 %>
<%= current_user.tester_answers.first.answer %>
<% end %><% end %>
</div>
<div id="video_end_handle"></div>